body{

background:black;
color:#00ff9c;
font-family:monospace;
margin:0;

}

#terminal{

padding:20px;

}

#output{

height:85vh;
overflow:auto;
white-space:pre-wrap;

}

input{

width:100%;
background:black;
border:none;
color:#00ff9c;
font-family:monospace;
font-size:16px;

}

#signalMap{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:black;
display:none;

}

canvas{

width:100%;
height:100%;

}